<%- include('../nav.ejs') %>



<br><br><br><br>
<h1 class="mt-5 text-center" style="font-family: Arial, Helvetica, sans-serif; font-weight: 700;font-style: italic; color: #172550;" >
    Course-Display
</h1>

<% if(msg.length>0) { %>
    <div class="alert alert-success"> <center> <%= msg %> </center></div>
<% } %>


<table class="table text-center" >
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    <% d.forEach((item)=> { %>

        <tr>
            <td><%= item._id %></td>
            <td><%= item.name %></td>
            <td><%= item.email %></td>
            <td><%= item.phone %></td>
            <td style="border: 1px solid black; background-color: red;" ><%= item.status %></td>

            <td>
                <a href="/course_view/<%= item._id %>"><i class="fa-solid fa-eye"></i></a>
                <a href="/course_edit/<%= item._id %>" class="ms-2" ><i class="fa-solid fa-pen-to-square"></i></a>
                <!-- <a href="/course_delete/<%= item._id %>" class="btn btn-danger">Delete</a> -->
    
            </td>
        </tr>

        <% }) %>
</table>

<%- include('../fot.ejs') %>
